<h1>Aktuelles</h1>
<div class="timeline ps-md-0 ps-2 container">
    {{#each news}}
        <article>
            <div class="my-2 fs-5">
                <strong class="d-inline">
                    {{ title }}
                </strong>
                <p class="d-inline float-end text-primary">
                    {{toLocalDate publishedAt}}
                </p>
            </div>
            {{> components/content-block content=content}}
        </article>
    {{/each}}
</div>
<nav aria-label="Seiten Navigation">
    <ul class="pagination justify-content-center">
        {{#if prevPage}}
            <li class="page-item">
                <a
                    class="page-link"
                    href="/aktuelles/{{ prevPage }}"
                    aria-label="Vorherige Seite"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/if}}
        {{#each pages}}
            <li class="page-item {{#if isActive}}active{{/if}}">
                <a class="page-link" href="/aktuelles/{{ number }}" aria-label="Seite {{ number }}"
                   aria-current="{{#if isActive}}true{{else}}false{{/if}}">{{ number }}</a>
            </li>
        {{/each}}
        {{#if nextPage}}
            <li class="page-item">
                <a
                    class="page-link"
                    href="/aktuelles/{{ nextPage }}"
                    aria-label="Nächste Seite"
                >
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>
