<h4 class="main-font-small">Ahnentafel:</h4>
<div class="row align-items-center container-fluid">
    <div class="col-md-4">
        <img
            loading="lazy"
            class="img-fluid mx-auto d-none d-md-block w-75"
            src="{{father.fatherImage.url}}"
            alt="{{father.name}}"
        />
        <img
            loading="lazy"
            class="img-fluid mx-auto d-block d-md-none w-100"
            src="{{father.fatherImage.url}}"
            alt="{{father.name}}"
        />
        <h5>{{father.name}}</h5>
        <br />
        <img
            loading="lazy"
            class="img-fluid mx-auto d-none d-md-block w-75"
            src="{{mother.motherImage.url}}"
            alt="{{mother.name}}"
        />
        <img
            loading="lazy"
            class="img-fluid mx-auto d-block d-md-none w-100"
            src="{{mother.motherImage.url}}"
            alt="{{mother.name}}"
        />
        <h5>{{mother.name}}</h5>
    </div>
    <div class="table-responsive col-md-8">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th>Vater</th>
                    <th>Großeltern</th>
                    <th>Urgroßeltern</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle" rowspan="4">
                        {{father.name}}
                    </td>
                    <td cfatherme="align-middle" rowspan="2">
                        {{father.grandfather.name}}
                    </td>
                    <td>{{father.grandfather.greatGrandparents.father}}</td>
                </tr>
                <tr>
                    <td>{{father.grandfather.greatGrandparents.mother}}</td>
                </tr>
                <tr>
                    <td class="align-middle" rowspan="2">
                        {{father.grandmother.name}}
                    </td>
                    <td>{{father.grandmother.greatGrandparents.father}}</td>
                </tr>
                <tr>
                    <td>{{father.grandmother.greatGrandparents.mother}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th>Mutter</th>
                    <th>Großeltern</th>
                    <th>Urgroßeltern</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle" rowspan="4">
                        {{mother.name}}
                    </td>
                    <td class="align-middle" rowspan="2">
                        {{mother.grandfather.name}}
                    </td>
                    <td>{{mother.grandfather.greatGrandparents.father}}</td>
                </tr>
                <tr>
                    <td>{{mother.grandfather.greatGrandparents.mother}}</td>
                </tr>
                <tr>
                    <td class="align-middle" rowspan="2">
                        {{mother.grandmother.name}}
                    </td>
                    <td>{{mother.grandmother.greatGrandparents.father}}</td>
                </tr>
                <tr>
                    <td>{{mother.grandmother.greatGrandparents.mother}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
