<!-- Primary Meta Tags -->
<title>{{global.seo.metaTitle}}</title>
<meta name="title" content="{{global.seo.metaTitle}}">
<meta name="description" content="{{global.seo.metaDescription}}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{global.seo.pageUrl}}">
<meta property="og:title" content="{{global.seo.metaTitle}}">
<meta property="og:description" content="{{global.seo.metaDescription}}">
<meta property="og:image" content="{{global.seo.image.url}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{global.seo.pageUrl}}">
<meta property="twitter:title" content="{{global.seo.metaTitle}}">
<meta property="twitter:description" content="{{global.seo.metaDescription}}">
<meta property="twitter:image" content="{{global.seo.image.url}}">

<script type="application/ld+json">{{{global.seo.structuredData}}}</script>